<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.brookes.jeyg.reversi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/myreversilogo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="uk.ac.brookes.jeyg.reversi.StartScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.ac.brookes.jeyg.reversi.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="uk.ac.brookes.jeyg.reversi.BoardActivity"
            android:label="@string/title_activity_board"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="uk.ac.brookes.jeyg.reversi.PlayerDetails"
            android:label="@string/title_activity_player_details" >
        </activity>

        <provider
            android:name="uk.ac.brookes.jeyg.reversi.ContactContentProvider"
            android:authorities="uk.ac.brookes.jeyg.reversi.ContactContentProvider"
            android:exported="false" >
        </provider>

        <activity
            android:name="uk.ac.brookes.jeyg.reversi.HighScoreActivity"
            android:label="@string/title_activity_high_score" >
        </activity>
        
        <provider
            android:name="uk.ac.brookes.jeyg.reversi.ScoreContentProvider"
            android:authorities="uk.ac.brookes.jeyg.reversi.ScoreContentProvider"
            android:exported="false" >
        </provider>
    </application>

</manifest>